
body {
    overflow: hidden;
    white-space:nowrap;
}

.th_productName:hover, .th_price:hover  {
    background: grey;
    cursor: pointer;
}

.th_productName, .th_price {
    cursor: pointer;
}

.table_head {
    font-weight: bold;
}

th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
}

table {
    margin: 20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

caption {
    text-align: center;
    font-size: x-large;

}

.table_head {
    font-weight: bold;
}


a {
    margin: 6px;
}

.link-make-order {
    margin-left: 50px;
    padding-bottom: 20px;
}

.products {
    float: left;
    background: lavenderblush;
    margin-bottom: 20px;
    width: auto;
}

.basket {
    display: inline-block;
    background: lightyellow;
    width: auto;
}

.admin {
    background: #d3f8fe;
    overflow: auto;
}

.user {
    overflow: auto;
}

.orders {
	float: left;
    background: #80ffff;
    width: auto;
    overflow: auto;
}

.accounts {
    display: inline-block;
    background: #ccffcc;
    width: auto;
}


